*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}


body {
	
	width:1000px;
	height:800px;
	background-image: url(../img/vapo1.jpg);
	background-size:cover;
	
}

.main {
        display:flex; 
	justify-content: center;
        align-items: center;
	width:970px;
        margin: 20px;
}


    /*  Contenedor de los botones  */
.contenedor {
	
 	display:flex; 
	justify-content: center;
        align-items: center;
	text-align:center;
	flex-direction:column;

	/*border: 3px solid black;
	background-color:#257DAF;*/
	width:900px;
	height:210px;
	margin:50px;
	
}

/* BOTON */

div button {
    
	display: flex;
	
	width: 400px;
	height:49px;	
	font-family:font;
  
  flex-direction:column;
  justify-content: center;
  
	font-size: xx-large;
	font-family:font;
	align-items: center;
}

/* BOTON PLAY */
.play {
	background-color:#4BCF2F;
	color:whitesmoke;
}

/* BOTON PAUSA */
.pause {
	background-color:#E5EA37;
	color:indigo;
}

/* BOTONES ATRAS ADELANTE */
.siguiente {
	background-color:#D61C28;
	color:#68D2E1;
}
.anterior {
	background-color:#281CD6;
	color:#E1D268;
}

/* BOTON RESET */
.reset {
	background-image:linear-gradient(green,lime,violet);
	color:#556C1D;
}

/* display <div> */
.display {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	width:1000px;
	background-image:url("../img/vapo.jpg");
	background-origin: content-box;
	object-fit: contain;
	background-size:contain;
	
	font-family:font;
	flex-direction:column;
	height:250px;
	background-color:black;
	font-size: 30px;
	font-weight: bolder;
	
}

/* TIEMPO TRANSCURRIDO <div> */

h3 {
	
	color:#42EAF8;
}

span {
	
	color:whitesmoke;
}

/* DEFINIMOS LA BARRA DE PROGRESO */

.barra {
	width:1000px;
	height:20px;
	background:#333;
	
}

.barra .barraProg {
	
	width:0%;
	height:20px;
	background-image:linear-gradient(red,blue);
}


