*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	
	width:100%;
	height:100%;
	background-image: linear-gradient(orange,#E85A12);
/* 	background-color:linear-gradient(orange,#E85A12); */
	
	
}
/*  Contenedor PADRE  */

.main {

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:50px;

}

    /*  Contenedor de los botones  */
.contenedor {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:stretch;

	width:400px;
	height: 225px;
	/*margin:50px;*/
	
}

/* BOTON */

div button {

	width: 400px;
	height:49px;	
}

/* BOTON PLAY */
.play {
	background-color:#4BCF2F;
	color:whitesmoke;
}

/* BOTON PAUSA */
.pause {
	background-color:#E5EA37;
	color:indigo;
}

/* BOTONES ATRAS ADELANTE */
.siguiente {
	background-color:#D61C28;
	color:#68D2E1;
}
.anterior {
	background-color:#281CD6;
	color:#E1D268;
}

/* BOTON RESET */
.reset {
	
}

/* display <div> */
.display {
	
	/*margin:50px;*/
	width:400px;
	height:120px;
	background-color:black;
	
}

/* TIEMPO TRANSCURRIDO <div> */

h3 {
	
	color:olive;
}

span {
	
	color:magenta;
}

/* DEFINIMOS LA BARRA DE PROGRESO */

.barra {
	/*margin: 50px;*/
	position:relative;
	width:400px;
	height:30px;
	background:#333;

}

.barra .barraProg {
	
	width:0%;
	height:30px;
	background-color:greenyellow;
}